mixin addstep1()
	.addstep1
		.textblock
			h3.
				Step 1 #[br]
				Enter a short name. 
		.option-select
			label.name-label.unselectable(for='name') Name
			input.form-control.text-input(type='text' name='name' form='availform' id='name' required='true')
		.option-select
			button.btn.btn-outline-warning.step1fwd(type="button") Procede to step 2