doctype html
html
	head
		title Destroy 
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		style 
			include index.css
			include rowElement-mixin.pug
	body 
		.container 
			.textblock
				h1 Destroy a Team Member's Availabilities!!
				h3.
					Click on a member#[br]
					to utterly demolish them.
			.option-select
				each val in members 
					form.option-row(action='/destroy/:id')
						input.btn.btn-outline-danger(type='submit' value=val.name)
		// Jquery Script for Bootstrap
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		// Boostrap javascript 
		script( src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(type="text/javascript" src='table.js')