mixin displaytableF(reqmems, maxmems)
	.displaytableF
		.option-select
			h3 Face to Face Availabilities 
			table.table.table-bordered
				thead
					tr
						th(scope='col')
						th(scope='col') Mon
						th(scope='col') Tue
						th(scope='col') Wed
						th(scope='col') Thu
						th(scope='col') Fri
						th(scope='col') Sat
						th(scope='col') Sun
				tbody 
					tr
						th(scope='row') 8:00 am
							+rowElementAllPresentF(reqmems,allPresent,'monF',0)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',0)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',0)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',0)
							+rowElementAllPresentF(reqmems,allPresent,'friF',0)
							+rowElementAllPresentF(reqmems,allPresent,'satF',0)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',0)
					tr
						th(scope='row') 9:00 am
							+rowElementAllPresentF(reqmems,allPresent,'monF',1)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',1)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',1)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',1)
							+rowElementAllPresentF(reqmems,allPresent,'friF',1)
							+rowElementAllPresentF(reqmems,allPresent,'satF',1)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',1)
					tr
						th(scope='row') 10:00 am
							+rowElementAllPresentF(reqmems,allPresent,'monF',2)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',2)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',2)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',2)
							+rowElementAllPresentF(reqmems,allPresent,'friF',2)
							+rowElementAllPresentF(reqmems,allPresent,'satF',2)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',2)
					tr
						th(scope='row') 11:00 am
							+rowElementAllPresentF(reqmems,allPresent,'monF',3)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',3)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',3)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',3)
							+rowElementAllPresentF(reqmems,allPresent,'friF',3)
							+rowElementAllPresentF(reqmems,allPresent,'satF',3)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',3)
					tr
						th(scope='row') 12:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',4)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',4)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',4)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',4)
							+rowElementAllPresentF(reqmems,allPresent,'friF',4)
							+rowElementAllPresentF(reqmems,allPresent,'satF',4)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',4)
					tr
						th(scope='row') 1:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',5)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',5)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',5)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',5)
							+rowElementAllPresentF(reqmems,allPresent,'friF',5)
							+rowElementAllPresentF(reqmems,allPresent,'satF',5)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',5)
					tr
						th(scope='row') 2:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',6)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',6)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',6)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',6)
							+rowElementAllPresentF(reqmems,allPresent,'friF',6)
							+rowElementAllPresentF(reqmems,allPresent,'satF',6)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',6)
					tr
						th(scope='row') 3:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',7)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',7)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',7)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',7)
							+rowElementAllPresentF(reqmems,allPresent,'friF',7)
							+rowElementAllPresentF(reqmems,allPresent,'satF',7)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',7)
					tr
						th(scope='row') 4:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',8)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',8)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',8)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',8)
							+rowElementAllPresentF(reqmems,allPresent,'friF',8)
							+rowElementAllPresentF(reqmems,allPresent,'satF',8)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',8)
					tr
						th(scope='row') 5:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',9)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',9)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',9)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',9)
							+rowElementAllPresentF(reqmems,allPresent,'friF',9)
							+rowElementAllPresentF(reqmems,allPresent,'satF',9)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',9)
					tr
						th(scope='row') 6:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',10)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',10)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',10)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',10)
							+rowElementAllPresentF(reqmems,allPresent,'friF',10)
							+rowElementAllPresentF(reqmems,allPresent,'satF',10)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',10)
					tr
						th(scope='row') 7:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',11)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',11)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',11)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',11)
							+rowElementAllPresentF(reqmems,allPresent,'friF',11)
							+rowElementAllPresentF(reqmems,allPresent,'satF',11)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',11)
					tr
						th(scope='row') 8:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',12)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',12)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',12)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',12)
							+rowElementAllPresentF(reqmems,allPresent,'friF',12)
							+rowElementAllPresentF(reqmems,allPresent,'satF',12)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',12)
					tr
						th(scope='row') 9:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',13)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',13)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',13)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',13)
							+rowElementAllPresentF(reqmems,allPresent,'friF',13)
							+rowElementAllPresentF(reqmems,allPresent,'satF',13)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',13)
					tr
						th(scope='row') 10:00 pm 
							+rowElementAllPresentF(reqmems,allPresent,'monF',14)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',14)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',14)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',14)
							+rowElementAllPresentF(reqmems,allPresent,'friF',14)
							+rowElementAllPresentF(reqmems,allPresent,'satF',14)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',14)
					tr
						th(scope='row') 11:00 pm
							+rowElementAllPresentF(reqmems,allPresent,'monF',15)
							+rowElementAllPresentF(reqmems,allPresent,'tueF',15)
							+rowElementAllPresentF(reqmems,allPresent,'wedF',15)
							+rowElementAllPresentF(reqmems,allPresent,'thuF',15)
							+rowElementAllPresentF(reqmems,allPresent,'friF',15)
							+rowElementAllPresentF(reqmems,allPresent,'satF',15)
							+rowElementAllPresentF(reqmems,allPresent,'sunF',15)
			button.btn.btn-outline-warning.step1fwd(type='button') Show Online Availabilities							