mixin displaytableF(reqmems, maxmems)
	.displaytableF
		.option-select
			h3 Face to Face Availabilities 
			table.table.table-bordered
				thead
					tr
						th(scope='col')
						th(scope='col') Mon
						th(scope='col') Tue
						th(scope='col') Wed
						th(scope='col') Thu
						th(scope='col') Fri
						th(scope='col') Sat
						th(scope='col') Sun
				tbody 
					tr
						th(scope='row') 8:00 am
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',0)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',0)
					tr
						th(scope='row') 9:00 am
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',1)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',1)
					tr
						th(scope='row') 10:00 am
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',2)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',2)
					tr
						th(scope='row') 11:00 am
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',3)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',3)
					tr
						th(scope='row') 12:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',4)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',4)
					tr
						th(scope='row') 1:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',5)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',5)
					tr
						th(scope='row') 2:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',6)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',6)
					tr
						th(scope='row') 3:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',7)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',7)
					tr
						th(scope='row') 4:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',8)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',8)
					tr
						th(scope='row') 5:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',9)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',9)
					tr
						th(scope='row') 6:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',10)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',10)
					tr
						th(scope='row') 7:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',11)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',11)
					tr
						th(scope='row') 8:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',12)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',12)
					tr
						th(scope='row') 9:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',13)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',13)
					tr
						th(scope='row') 10:00 pm 
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',14)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',14)
					tr
						th(scope='row') 11:00 pm
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'monF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'tueF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'wedF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'thuF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'friF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'satF',15)
							+rowElementAllPresentF(reqmems,allPresent,maxmems,'sunF',15)
			button.btn.btn-outline-warning.step1fwd(type='button') Show Online Availabilities							