doctype html
html
	head
		title View Availabilities
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		style 
			include index.css
			include rowElementDisplay-mixin.pug
	body 
		.container 
			.textblock
				h1 Check Member Availabilities
	
			.option-select
				.row
					.col-md-12
						table.table.table-bordered
							thead
								tr
									th(scope='col')
									th(scope='col') Mon
									th(scope='col') Tue
									th(scope='col') Wed
									th(scope='col') Thu
									th(scope='col') Fri
									th(scope='col') Sat
									th(scope='col') Sun
							tbody 
								tr
									th(scope='row') 8:00 am
										td
											ul 
											each val in reqmems
												+rowElementDisplay(0, val.mon, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.tue, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.wed, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.thu, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.fri, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.sat, val.name)
											each val in reqmems
												+rowElementDisplay(0, val.sun, val.name)
								tr
									th(scope='row') 9:00 am
										td
											ul 
											each val in reqmems
												+rowElementDisplay(1, val.mon, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.tue, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.wed, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.thu, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.fri, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.sat, val.name)
											each val in reqmems
												+rowElementDisplay(1, val.sun, val.name)
								tr
									th(scope='row') 10:00 am
										td
											ul 
												each val in reqmems
													+rowElementDisplay(2, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(2, val.sun, val.name)
								tr
									th(scope='row') 11:00 am
										td
											ul 
												each val in reqmems
													+rowElementDisplay(3, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(3, val.sun, val.name)
								
								tr
									th(scope='row') 12:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(4, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(4, val.sun, val.name)
								tr
									th(scope='row') 1:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(5, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(5, val.sun, val.name)
								tr
									th(scope='row') 2:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(6, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(6, val.sun, val.name)
								tr
									th(scope='row') 3:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(7, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(7, val.sun, val.name)
								tr
									th(scope='row') 4:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(8, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(8, val.sun, val.name)
								tr
									th(scope='row') 5:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(9, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(9, val.sun, val.name)
								tr
									th(scope='row') 6:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(10, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(10, val.sun, val.name)
								tr
									th(scope='row') 7:00 pm
										td
												ul 
												each val in reqmems
													+rowElementDisplay(11, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(11, val.sun, val.name)
								tr
									th(scope='row') 8:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(12, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(12, val.sun, val.name)
								tr
									th(scope='row') 9:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(13, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(13, val.sun, val.name)
								tr
									th(scope='row') 10:00 pm 
										td
											ul 
												each val in reqmems
													+rowElementDisplay(14, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(14, val.sun, val.name)
								tr
									th(scope='row') 11:00 pm
										td
											ul 
												each val in reqmems
													+rowElementDisplay(15, val.mon, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.tue, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.wed, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.thu, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.fri, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.sat, val.name)
												each val in reqmems
													+rowElementDisplay(15, val.sun, val.name)

			.option-select 
				form.option-row(action='/')
					input.btn.btn-outline-info(type='submit' value='Go to Home')

		// Jquery Script for Bootstrap
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		// Boostrap javascript 
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		// Table click javascript
		script
			include table.js