mixin displaytableNF(reqmems, maxmems)
	.displaytableNF
		.option-select
			h3 Online Availabilities 
			table.table.table-bordered
				thead
					tr
						th(scope='col')
						th(scope='col') Mon
						th(scope='col') Tue
						th(scope='col') Wed
						th(scope='col') Thu
						th(scope='col') Fri
						th(scope='col') Sat
						th(scope='col') Sun
				tbody 
					tr
						th(scope='row') 8:00 am
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',0)
					tr
						th(scope='row') 9:00 am
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',1)
					tr
						th(scope='row') 10:00 am
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',2)
					tr
						th(scope='row') 11:00 am
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',3)
					tr
						th(scope='row') 12:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',4)
					tr
						th(scope='row') 1:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',5)
					tr
						th(scope='row') 2:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',6)
					tr
						th(scope='row') 3:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',7)
					tr
						th(scope='row') 4:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',8)
					tr
						th(scope='row') 5:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',9)
					tr
						th(scope='row') 6:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',10)
					tr
						th(scope='row') 7:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',11)
					tr
						th(scope='row') 8:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',12)
					tr
						th(scope='row') 9:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',13)
					tr
						th(scope='row') 10:00 pm 
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',14)
					tr
						th(scope='row') 11:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,'monNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'tueNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'wedNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'thuNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'friNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'satNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,'sunNF',15)
			button.btn.btn-outline-warning.step2bck(type='button') Show Face to Face Availabilities