.allpresentF {
	background: #232323;
	border-width: 2px;
	border-style: solid;
}

.allpresentNF {
	background:  #fcba07;
	border-width: 2px;
	border-style: solid;
}

.displaytableNF {
	display: none;
}

.check-input {
	width: 30px;
	display: none;
}

.hidden {
	display: none;
}