mixin displaytableNF(reqmems, maxmems)
	.displaytableNF
		.option-select
			h3 Online Availabilities 
			table.table.table-bordered
				thead
					tr
						th(scope='col')
						th(scope='col') Mon
						th(scope='col') Tue
						th(scope='col') Wed
						th(scope='col') Thu
						th(scope='col') Fri
						th(scope='col') Sat
						th(scope='col') Sun
				tbody 
					tr
						th(scope='row') 8:00 am
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',0)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',0)
					tr
						th(scope='row') 9:00 am
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',1)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',1)
					tr
						th(scope='row') 10:00 am
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',2)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',2)
					tr
						th(scope='row') 11:00 am
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',3)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',3)
					tr
						th(scope='row') 12:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',4)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',4)
					tr
						th(scope='row') 1:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',5)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',5)
					tr
						th(scope='row') 2:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',6)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',6)
					tr
						th(scope='row') 3:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',7)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',7)
					tr
						th(scope='row') 4:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',8)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',8)
					tr
						th(scope='row') 5:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',9)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',9)
					tr
						th(scope='row') 6:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',10)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',10)
					tr
						th(scope='row') 7:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',11)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',11)
					tr
						th(scope='row') 8:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',12)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',12)
					tr
						th(scope='row') 9:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',13)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',13)
					tr
						th(scope='row') 10:00 pm 
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',14)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',14)
					tr
						th(scope='row') 11:00 pm
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'monNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'tueNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'wedNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'thuNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'friNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'satNF',15)
							+rowElementAllPresentNF(reqmems,allPresent,maxmems,'sunNF',15)
			button.btn.btn-outline-warning.step2bck(type='button') Show Face to Face Availabilities