doctype html
html
	head
		title View Availabilities
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:300,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		style 
			include index.css
			include display.css
			include rowElementDisplay-mixin.pug
			include displaytableF-mixin.pug
			include displaytableNF-mixin.pug
			include rowElementAllPresentF-mixin.pug
			include rowElementAllPresentNF-mixin.pug
	body
		.container 
			.textblock
				h1 Check Member Availabilities
			.row
				.col-md-6
					+displaytableF(reqmems, maxmems)
					+displaytableNF(reqmems, maxmems)
				.col-md-6
					//+displayNames(reqmems)

			.option-select 
				form.option-row(action='/')
					input.btn.btn-outline-info(type='submit' value='Go to Home')

		// Jquery Script for Bootstrap
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		// Boostrap javascript 
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		// Table click javascript
		script
			include table.js
			include display.js