mixin editmemstep1(member)
	.editmemstep1
		table.table.table-bordered
			thead
				tr
					th(scope='col')
					th(scope='col') Mon
					th(scope='col') Tue
					th(scope='col') Wed
					th(scope='col') Thu
					th(scope='col') Fri
					th(scope='col') Sat
					th(scope='col') Sun

			tbody 
				tr
					th(scope='row') 8:00 am
					+rowElementEditF('8','mon', 0, member.monF)
					+rowElementEditF('8','tue', 0, member.tueF) 
					+rowElementEditF('8','wed', 0, member.wedF) 
					+rowElementEditF('8','thu', 0, member.thuF) 
					+rowElementEditF('8','fri', 0, member.friF)
					+rowElementEditF('8','sat', 0, member.satF)
					+rowElementEditF('8','sun', 0, member.sunF)
				tr
					th(scope='row') 9:00 am
					+rowElementEditF('9','mon', 1, member.monF)
					+rowElementEditF('9','tue', 1, member.tueF) 
					+rowElementEditF('9','wed', 1, member.wedF) 
					+rowElementEditF('9','thu', 1, member.thuF) 
					+rowElementEditF('9','fri', 1, member.friF)
					+rowElementEditF('9','sat', 1, member.satF)
					+rowElementEditF('9','sun', 1, member.sunF)
				tr
					th(scope='row') 10:00 am
					+rowElementEditF('10','mon', 2, member.monF)
					+rowElementEditF('10','tue', 2, member.tueF) 
					+rowElementEditF('10','wed', 2, member.wedF) 
					+rowElementEditF('10','thu', 2, member.thuF) 
					+rowElementEditF('10','fri', 2, member.friF)
					+rowElementEditF('10','sat', 2, member.satF)
					+rowElementEditF('10','sun', 2, member.sunF)
				tr
					th(scope='row') 11:00 am
					+rowElementEditF('11','mon', 3, member.monF)
					+rowElementEditF('11','tue', 3, member.tueF) 
					+rowElementEditF('11','wed', 3, member.wedF) 
					+rowElementEditF('11','thu', 3, member.thuF) 
					+rowElementEditF('11','fri', 3, member.friF)
					+rowElementEditF('11','sat', 3, member.satF)
					+rowElementEditF('11','sun', 3, member.sunF)
				tr
					th(scope='row') 12:00 pm
					+rowElementEditF('12','mon', 4, member.monF)
					+rowElementEditF('12','tue', 4, member.tueF) 
					+rowElementEditF('12','wed', 4, member.wedF) 
					+rowElementEditF('12','thu', 4, member.thuF) 
					+rowElementEditF('12','fri', 4, member.friF)
					+rowElementEditF('12','sat', 4, member.satF)
					+rowElementEditF('12','sun', 4, member.sunF)
				tr
					th(scope='row') 1:00 pm
					+rowElementEditF('13','mon', 5, member.monF)
					+rowElementEditF('13','tue', 5, member.tueF) 
					+rowElementEditF('13','wed', 5, member.wedF) 
					+rowElementEditF('13','thu', 5, member.thuF) 
					+rowElementEditF('13','fri', 5, member.friF)
					+rowElementEditF('13','sat', 5, member.satF)
					+rowElementEditF('13','sun', 5, member.sunF)
				tr
					th(scope='row') 2:00 pm
					+rowElementEditF('14','mon', 6, member.monF)
					+rowElementEditF('14','tue', 6, member.tueF) 
					+rowElementEditF('14','wed', 6, member.wedF) 
					+rowElementEditF('14','thu', 6, member.thuF) 
					+rowElementEditF('14','fri', 6, member.friF)
					+rowElementEditF('14','sat', 6, member.satF)
					+rowElementEditF('14','sun', 6, member.sunF)
				tr
					th(scope='row') 3:00 pm
					+rowElementEditF('15','mon', 7, member.monF)
					+rowElementEditF('15','tue', 7, member.tueF) 
					+rowElementEditF('15','wed', 7, member.wedF) 
					+rowElementEditF('15','thu', 7, member.thuF) 
					+rowElementEditF('15','fri', 7, member.friF)
					+rowElementEditF('15','sat', 7, member.satF)
					+rowElementEditF('15','sun', 7, member.sunF)
				tr
					th(scope='row') 4:00 pm
					+rowElementEditF('16','mon', 8, member.monF)
					+rowElementEditF('16','tue', 8, member.tueF) 
					+rowElementEditF('16','wed', 8, member.wedF) 
					+rowElementEditF('16','thu', 8, member.thuF) 
					+rowElementEditF('16','fri', 8, member.friF)
					+rowElementEditF('16','sat', 8, member.satF)
					+rowElementEditF('16','sun', 8, member.sunF)
				tr
					th(scope='row') 5:00 pm
					+rowElementEditF('17','mon', 9, member.monF)
					+rowElementEditF('17','tue', 9, member.tueF) 
					+rowElementEditF('17','wed', 9, member.wedF) 
					+rowElementEditF('17','thu', 9, member.thuF) 
					+rowElementEditF('17','fri', 9, member.friF)
					+rowElementEditF('17','sat', 9, member.satF)
					+rowElementEditF('17','sun', 9, member.sunF)
				tr
					th(scope='row') 6:00 pm
					+rowElementEditF('18','mon', 10, member.monF)
					+rowElementEditF('18','tue', 10, member.tueF) 
					+rowElementEditF('18','wed', 10, member.wedF) 
					+rowElementEditF('18','thu', 10, member.thuF) 
					+rowElementEditF('18','fri', 10, member.friF)
					+rowElementEditF('18','sat', 10, member.satF)
					+rowElementEditF('18','sun', 10, member.sunF)
				tr
					th(scope='row') 7:00 pm
					+rowElementEditF('19','mon', 11, member.monF)
					+rowElementEditF('19','tue', 11, member.tueF) 
					+rowElementEditF('19','wed', 11, member.wedF) 
					+rowElementEditF('19','thu', 11, member.thuF) 
					+rowElementEditF('19','fri', 11, member.friF)
					+rowElementEditF('19','sat', 11, member.satF)
					+rowElementEditF('19','sun', 11, member.sunF)
				tr
					th(scope='row') 8:00 pm
					+rowElementEditF('20','mon', 12, member.monF)
					+rowElementEditF('20','tue', 12, member.tueF) 
					+rowElementEditF('20','wed', 12, member.wedF) 
					+rowElementEditF('20','thu', 12, member.thuF) 
					+rowElementEditF('20','fri', 12, member.friF)
					+rowElementEditF('20','sat', 12, member.satF)
					+rowElementEditF('20','sun', 12, member.sunF)
				tr
					th(scope='row') 9:00 pm 
					+rowElementEditF('21','mon', 13, member.monF)
					+rowElementEditF('21','tue', 13, member.tueF) 
					+rowElementEditF('21','wed', 13, member.wedF) 
					+rowElementEditF('21','thu', 13, member.thuF) 
					+rowElementEditF('21','fri', 13, member.friF)
					+rowElementEditF('21','sat', 13, member.satF)
					+rowElementEditF('21','sun', 13, member.sunF)
				tr
					th(scope='row') 10:00 pm
					+rowElementEditF('22','mon', 14, member.monF)
					+rowElementEditF('22','tue', 14, member.tueF) 
					+rowElementEditF('22','wed', 14, member.wedF) 
					+rowElementEditF('22','thu', 14, member.thuF) 
					+rowElementEditF('22','fri', 14, member.friF)
					+rowElementEditF('22','sat', 14, member.satF)
					+rowElementEditF('22','sun', 14, member.sunF)
				tr
					th(scope='row') 11:00 pm
					+rowElementEditF('23','mon', 15, member.monF)
					+rowElementEditF('23','tue', 15, member.tueF) 
					+rowElementEditF('23','wed', 15, member.wedF) 
					+rowElementEditF('23','thu', 15, member.thuF) 
					+rowElementEditF('23','fri', 15, member.friF)
					+rowElementEditF('23','sat', 15, member.satF)
					+rowElementEditF('23','sun', 15, member.sunF)
		.option-select
			button.btn.btn-outline-success.step1fwd(type='button') Change Online Availabilities