doctype html
html
	head
		title Team Availability Scheduler
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		style 
			include index.css
			include table.css
			include editmem.css
			include editmemstep1-mixin.pug
			include rowElementEdit-mixin.pug
	body 
		.container 
			.textblock
				h1 REAL SKILLS EDUCATION
				h3.
					You are editing #[br]
					#{member.name}'s availabilities. 

				if (success) 
					h4.success-message.
						Update was successful!

			.option-select
				form(action='/edit/'+member._id, method='POST', id='updateform')
					+editmemstep1(member)
				
			.option-select 
				button.btn.btn-outline-dark(type='submit' form='updateform', id='submit') Confirm Member Availability Changes
				form.option-row(action='/')
					input.btn.btn-outline-dark(type='submit' value='Go to Home')

		// Jquery Script for Bootstrap
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		// Boostrap javascript 
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		// Table click Javascript 
		script
			include table.js
			include editmem.js