doctype html
html
	head
		title Team Availability Scheduler
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,700')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		style 
			include index.css
			include display.css
	body 
		.container 
			.textblock
				h1 REAL SKILLS EDUCATION
				h3.
					Find a time when  #[br]
					people are free. 
				h6.
					Select at least one member below.
				.option-select
					form.option-row(action='/find/display', method="POST", id='select-members')
						h6.bold.
							Select Members
						each val in members 
							button.btn.choose-member(type="button") #{val.name} 
								input.check-input(type='checkbox', name='members['+val.id+']', checked='checked', value=0)
					input.btn.btn-outline-success(type='submit',form='select-members', value='Procede')
				.option-select 
					form.option-row(action='/')
							input.btn.btn-outline-dark(type='submit' value='Go to Home')

		// Jquery Script for Bootstrap
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		// Boostrap javascript 
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		// Table click javascript
		script
			include button.js