mixin rowElementAllPresentNF(reqmems, allPresent, day, index)
	if (allPresent[day][index])
		td.allpresentNF
			ul 
				each val in reqmems
					+rowElementDisplay(index, val[day], val.name)
	else 
		td
			ul 
				each val in reqmems
					+rowElementDisplay(index, val[day], val.name)