mixin rowElementEditF(time, day, index, valid)
	if (valid[index] == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= day+'['+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= day+'['+time+']', value=0, checked='checked') 
	