mixin rowElementAllPresentNF(reqmems, allPresent, maxmems, day, index)
	if (allPresent[day][index])
		td.allpresentNF
			ul 
				each val in reqmems
					+rowElementDisplay(index, val[day], val.name, maxmems)
	else 
		td
			ul 
				each val in reqmems
					+rowElementDisplay(index, val[day], val.name, maxmems)