mixin rowElement(time)
	each val in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'] 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= val+'['+time+']', value=0, checked='checked') 
			
