mixin rowElementEdit(time,mon,tue,wed,thu,fri,sat,sun)
	if (mon == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'mon'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'mon'+time+']', value=0, checked='checked') 
	if (tue == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'tue'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'tue'+time+']', value=0, checked='checked') 
	if (wed == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'wed'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'wed'+time+']', value=0, checked='checked') 
	if (thu == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'thu'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'thu'+time+']', value=0, checked='checked') 
	if (fri == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'fri'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'fri'+time+']', value=0, checked='checked') 
	if (sat == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'sat'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'sat'+time+']', value=0, checked='checked') 
	if (sun == 1)
		td.clickable.trclicked(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'sun'+time+']', value=1, checked='checked') 
	else 
		td.clickable(scope='row')
			input.check-input(type='checkbox', name= 'submit['+'sun'+time+']', value=0, checked='checked') 